<tr>
  <td><%= books_author.id %></td>
  <td><%= books_author.title %></td>
  <td><%= books_author.year_published %></td>
  <td><%= books_author.isbn %></td>
  <td><%= books_author.out_of_print %></td>
  <td><%= books_author.views %></td>
  <td>$ <%= books_author.price %></td>
</tr>
