<tr>
  <td><%= user.id %></td>
  <td><%= user.user_name %></td>
  <td><%= user.email %></td>
  <td><%= user.address %></td>
  <td><img style='height:50px;' src='<%= user.avatar%>' alt='img'></td>
  <td><%= user.phone %></td>
  <% if current_user.id == user.id%>
    <td>
      <%= link_to 'Update', edit_user_path(user), method: :get, class: 'btn btn-primary' %>
      <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Delete this users?'}, class: 'btn btn-danger' %>
    </td>
  <% end %>
</tr>
